<app-navbar></app-navbar>
<!-- Content for the main page -->
<div class="container-fluid background" style="padding: 0;" >
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <strong><h2> <i class="fas fa-mouse"></i>OSS CODING <span class="text-primary"></span></h2></strong>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-12 text-center" style="padding-top: 3%;">
        <span style="margin-top: 15px;"><strong><a href="/oss-coding">Enter new start and end values.</a></strong></span>
      </div>
    </div>
    <hr>
    <div *ngIf="loadingComments"  class="container text-center" style="min-height: 700px;">
      <i class="fas fa-circle-notch fa-spin" style="font-size:50px"></i>
    </div>
    <div *ngIf="hideButtons"  class="container text-center" style="min-height: 700px;">
      <p class="text-success"><strong>{{userMessage}}</strong></p>
    </div>
    <div *ngIf="!loadingComments && !hideButtons"  class="container" style="min-height: 700px;">
      <div class="col-md-3 col-md-offset-9" style="text-align: right;">
        <h4>Comment {{currentVal}} of {{end}}.</h4>
        <h4>Total comments left {{remaining}}.</h4>
      </div>
      <div class="form-group col-md-12 comments-text">
        <!-- <h1 class="text-center"> Select all codes that apply</h1> -->
        <p> Comment ID: {{currentComment.id}}</p>
        <p> User Login: {{currentComment.user_login}}</p>
        <p> Comment URL: <a (click)="goToLink(currentComment.html_url)">{{currentComment.html_url}}</a></p>
        <br />
        <p><strong> {{currentComment.body}} </strong></p>
        <br/>
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <p> Current Question Codes: </p>
            </div>
            <div class="col-md-8 col-sm-12">
                <!-- [(ngModel)]="selectedItems" -->
                <ng-multiselect-dropdown
                  [placeholder]="'Select appropriate codes'"
                  formControlName="questions"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <p> Current Statement Codes: </p>
            </div>
            <div class="col-md-8 col-sm-12">
              <ng-multiselect-dropdown
                [placeholder]="'Select appropriate codes'"
                [settings]="dropdownSettings"
                [data]="dropdownListStatements"
                formControlName="statements"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <p> Other Codes: </p>
            </div>
            <div class="col-md-8 col-sm-12">
              <ng-multiselect-dropdown
                [placeholder]="'Select appropriate codes'"
                [settings]="dropdownSettings"
                [data]="dropdownListOther"
                formControlName="other"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="userMessage" style="padding-top: 25px;">
          <div class="col-md-12 text-center">
            <p class="text-danger"><strong>{{userMessage}}</strong></p>
          </div>
        </div>
        <div class="row" style="padding-top: 100px;">
          <div class="col-md-6">
            <button class="btn btn-primary form-control" (click)="previous()"><i class="fas fa-chevron-left"></i> Previous Comment </button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success form-control" (click)="next()"> Next Comment <i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- [BEGIN] Footer Container -->
<!-- <footer class="navbar-default sticky-footer" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer> -->
<!-- [END] Footer Container -->
</div>

