<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;">
  <!-- [BEGIN] Content Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong><h2> <i class="fas fa-graduation-cap"></i>PUBLICATIONS <span class="text-primary"></span></h2></strong>
      </div>
    </div>
    <hr>
    <!-- [BEGIN] Web Applications Section -->
    <div class="row">
      <div class="col-md-12">
        <p><strong>2020</strong></p>
        <a href="https://youtu.be/WfxiHUsFJaI">ICPC 2020 - Session 09 - For Developers - Research Track - Program Comprehension in Virtual Reality</a>
        <p>Dominic, J., <strong>Tubre, B.</strong>, Houser, J., Ritter, C., Kunkel, D., Rodeghero, P. "Program Comprehension in Virtual Reality", in Proc. of the International Conference on Program Comprehension (<a href="https://conf.researchr.org/home/icpc-2020">ICPC'20 ERA</a>), Seoul, Korea, May 23-24, 2020.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <a href="https://youtu.be/DQIxWfOjsSs">ICSME 2020 - Methods and Environments - Research Track - Remote Pair Programming in Virtual Reality</a>
          <p>Dominic, J., <strong>Tubre, B.</strong>, Ritter, C., Houser, J., Smith, C., Rodeghero, P. "Remote Pair Programming in Virtual Reality", in Proc. of the IEEE International Conference on Software Maintenance and Evolution  (<a href="https://icsme2020.github.io/index.html">ICSME'20</a>), Adelaide, Australia, Sept. 27-Oct. 3, 2020.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="">HAI 2020 - Trust and Teamwork - Technical Track - Invoking Principles of Groupware to Develop and Evaluate Present and Future Human-Agent Teams</a>
        <p>Flathmann, C., Schelble, B., <strong>Tubre, B.</strong>, Rodeghero, P.,  McNeese, N. "Invoking Principles of Groupware to Develop and Evaluate Present and Future Human-Agent Teams", in Proc. of the 8th International Conference on Human-Agent Interaction (<a href="https://onestop.westernsydney.edu.au/OneStopWeb/SCDMS/booking?UDS_ACTION_DATA=Yi4mCDdGUQtOWVQHQkJDBFxVQnRBUjMbLEAxXQRAUUt8N11V">HAI'20</a>), Sydney (online), Australia, Nov. 10-13, 2020.</p>
      </div>
    </div>
   <div class="row">
    <div class="col-md-12">
      <a href="https://youtu.be/UizmLejg1jA">ICSME 2020 - Evolution and Adaptation - Late Breaking Track - Exploring the Challenges of Cloud Migrations During a Global Pandemic</a>
        <p><strong>Tubre, B.</strong>, Rodeghero, P. "Exploring the Challenges of Cloud Migrations During a Global Pandemic", in Proc. of the IEEE International Conference on Software Maintenance and Evolution (<a href="https://icsme2020.github.io/cfp/LateBreakingIdeasTrackCFP.html">ICSME'20 Late Breaking Ideas</a>), Adelaide, Australia, Sept. 27-Oct. 3, 2020.</p>
      </div>
    </div>
    <div class="col" style="padding-top: 50%">
    </div>


    <!-- [END] Web Applications Section -->
    <!-- [BEGIN] row -->
    <app-footer></app-footer>
    <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

  <!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
