<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;">
  <!-- [BEGIN] Content Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong><h2> <i class="fas fa-cubes"></i>PORTFOLIO <span class="text-primary"></span></h2></strong>
      </div>
    </div>
    <hr>
    <!-- [BEGIN] Web Applications Section -->
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well">
          <div class="card-body">
              <a class="thumbnail fancybox" rel="ligthbox" href="https://acloudguru.com/course/aws-certified-data-analytics-specialty">
                <img class="img-responsive" alt="" src="assets/img/das_thumbnail.jpg" />
              </a>
            <h5 class="card-title"><i class="fas fa-chart-pie" style="padding-left: 0;"></i> AWS Certified Data Analytics Specialty Course </h5>
            <p class="card-text"> Instructional course co-created for <a href="https://acloud.guru">A Cloud Guru</a>. In late 2019, AWS announced that they would be renaming the AWS Big Data Specialty certification to the AWS Data Analytics specialty certification. There are some carryover topics with these changes, but many of the topics are brand new and more in-depth. This course is designed to teach you the new services and tools that you can use in AWS to build data analytics applications, as well as build and manage the lifecycle of collecting, storing, processing, and visualizing your data.</p>
            <a href="https://acloudguru.com/course/aws-certified-data-analytics-specialty" class="btn btn-primary">VIEW COURSE HERE <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well">
          <div class="card-body">
              <a class="thumbnail fancybox" rel="ligthbox" href="https://acloud.guru/learn/expanding-your-js-skills-with-angular">
                <img class="img-responsive" alt="" src="assets/img/angular_img.png" />
              </a>
            <h5 class="card-title"><i class="fas fa-code" style="padding-left: 0;"></i> Expanding Your JS Skills With Angular </h5>
            <p class="card-text"> Instructional course for <a href="https://acloud.guru">A Cloud Guru</a>. Take your JavaScript skills to the next level by learning how to build web applications using Angular. Angular is an application design framework and development platform for building single-page applications. From simple to robust enterprise applications, Angular has become one of the most popular frameworks used in the industry. This course will give you the tools, hands-on practice, and component understanding needed to incorporate Angular into your next project.</p>
            <a href="https://acloud.guru/learn/expanding-your-js-skills-with-angular" class="btn btn-primary">VIEW COURSE HERE <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="well">
          <div class="card-body">
              <a class="thumbnail fancybox" rel="ligthbox" href="https://acloudguru.com/course/aws-certified-advanced-networking-specialty-2020">
                <img class="img-responsive" alt="" src="assets/img/advnetspec_img.jpeg" />
              </a>
            <h5 class="card-title"><i class="fas fa-sitemap" style="padding-left: 0;"></i> AWS Certified Advanced Networking Specialty Course </h5>
            <p class="card-text"> Instructional course co-created for <a href="https://acloud.guru">A Cloud Guru</a>. In this course, we'll give you the knowledge to begin managing more complex AWS network infrastructures, incorporate network-accessible AWS services, implement hybrid connectivity with on-prem networks, and pass the Advanced Networking Specialty Exam.</p>
            <a href="https://acloudguru.com/course/aws-certified-advanced-networking-specialty-2020" class="btn btn-primary">VIEW COURSE HERE <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well">
            <div class="card-body">
                <a class="thumbnail fancybox" rel="ligthbox" href="https://acloudguru.com/course/aws-certified-machine-learning-specialty-2020">
                  <img class="img-responsive" alt="" src="assets/img/brock_scott_aws_ml.png" />
                </a>
              <h5 class="card-title"><i class="fas fa-cog" style="padding-left: 0;"></i> AWS Certified Machine Learning Course </h5>
              <p class="card-text"> Instructional course co-created for <a href="https://acloud.guru">A Cloud Guru</a>. With this course you'll get a solid understanding of the services and platforms available on AWS for Machine Learning projects, build a foundation to pass the certification exam and feel equipped to use the AWS ML portfolio in your own real-world applications.</p>
              <a href="https://acloudguru.com/course/aws-certified-machine-learning-specialty-2020" class="btn btn-primary">VIEW COURSE HERE <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                  <a class="thumbnail fancybox" rel="ligthbox" href="https://acloudguru.com/course/introduction-to-ansible">
                    <img class="img-responsive" alt="" src="assets/img/brock1.png" />
                  </a>
                <h5 class="card-title"><i class="fas fa-code" style="padding-left: 0;"></i> Introduction To Ansible </h5>
                <p class="card-text"> Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> where you'll learn how to get started with Ansible, one of the most popular configuration management tools out there. If you’re passionate about DevOps, Ansible is a great tool to get started with. </p>
                <a href="https://acloudguru.com/course/introduction-to-ansible" class="btn btn-primary">VIEW COURSE HERE <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                  <a class="thumbnail fancybox" rel="ligthbox" href="http://bit.ly/2MSUrR2">
                    <img class="img-responsive" alt="" src="https://res.cloudinary.com/acloud-guru/image/fetch/w_500,q_auto,f_auto/https%3A%2F%2Facloudguru-content-assets-production.s3-accelerate.amazonaws.com%2F1544755732949-acg-projects-109.jpg" />
                  </a>
                <h5 class="card-title"><i class="fas fa-play" style="padding-left: 0;"></i> Your Very Own API </h5>
                <p class="card-text">Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> using AWS services DynamoDB to store data, CloudWatch rules to trigger a Lambda function that fetches data from an external source, and API Gateway endpoints to retrieve, display, and analyze a datastore. </p>
                <a href="http://bit.ly/2MSUrR2" class="btn btn-primary">VIEW FULL VIDEO <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                  <a class="thumbnail fancybox" rel="ligthbox" href="https://www.facebook.com/acloudguru/videos/1846440448749053/">
                    <img class="img-responsive" alt="" src="https://res.cloudinary.com/acloud-guru/image/fetch/w_500,q_auto,f_auto/https%3A%2F%2Facloudguru-content-assets-production.s3-accelerate.amazonaws.com%2F1544755755840-acg-projects-108.jpg" />
                  </a>
                <h5 class="card-title"><i class="fas fa-video" style="padding-left: 0;"></i> Let the Free Times Roll </h5>
                <p class="card-text">Instructional video created for <a href="https://acloud.guru">A Cloud Guru</a> using AWS CodePipeline, CodeBuild, and S3 to build a system that triggers seamless and automatic deployments when you commit your code to a GitHub repository. </p>
                <a href="http://bit.ly/2uNJwkL" class="btn btn-primary">VIEW FULL VIDEO <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well">
              <div class="card-body">
                <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/s3-sandbox-integration.jpg">
                  <img class="img-responsive" alt="" src="assets/img/s3-sandbox-integration.png" />
                  <div class='text-right'>
                      <small class='text-muted'>S3 Integration Architecture Diagram</small>
                  </div> <!-- text-right / end -->
                </a>
                <h5 class="card-title"><i class="fas fa-hdd" style="padding-left: 0;"></i> S3 Integration</h5>
                <p class="card-text">This is a simple interface to use for uploading objects. It uses AWS services like S3, DynamoDB, & Lambda to read, write, download, & delete objects.</p>
                <a href="/s3-int" class="btn btn-primary">TRY IT NOW <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well">
            <div class="card-body">
              <a class="thumbnail fancybox" rel="ligthbox" href="assets/img/qr-code-generator.jpg">
                <img class="img-responsive" alt="" src="assets/img/qr-code-generator.png" />
                <div class='text-right'>
                    <small class='text-muted'>QR Attendance Architecture</small>
                </div> <!-- text-right / end -->
              </a>
              <h5 class="card-title"><i class="fas fa-qrcode" style="padding-left: 0;"></i> QR Attendance</h5>
              <p class="card-text">This is an attendance tracker for students in LSUS CSC 460/660 Fall 2018 course. It uses AWS services like S3, DynamoDB, Lambda, API Gateway, & SNS to create and validate QR codes associated with students attendance for class.</p>
              <a href="/qr-reader" class="btn btn-primary" style="margin-right: 5px;">SCAN QR CODE<i class="fas fa-chevron-right"></i></a>
              <a href="/qr-reader/attendance" class="btn btn-default" >SEE ATTENDANCE <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well">
            <div class="card-body">
              <a class="thumbnail fancybox" rel="ligthbox" href="/brew">
                <img class="img-responsive" alt="" src="assets/img/brew-stats.png" />
                <div class='text-right'>
                    <small class='text-muted'>Homebrewing Stats Tracker</small>
                </div> <!-- text-right / end -->
              </a>
              <h5 class="card-title"><i class="fas fa-beer" style="padding-left: 0;"></i>Brew Stats</h5>
              <p class="card-text">This is a custom application built to track fermentation stats for homebrewing beer. This application is integrated with the <a href="https://tilthydrometer.com/">TILT Hydrometer</a> and captures information like temperature, gravity readings, current ABV, apparent attenuation, and more.</p>
              <a href="/brew" class="btn btn-primary" style="margin-right: 5px;">SEE BREW STATS<i class="fas fa-chevron-right"></i></a>
              <a href="/brew/all" class="btn btn-default">SEE PREVIOUS BREWS <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
    </div>
    <!-- [END] Web Applications Section -->
    <!-- [BEGIN] row -->
    <app-footer></app-footer>
    <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

  <!-- [BEGIN] Footer Container -->
  <footer class="navbar-default" style="margin-top: 25px;">
    <div class="container-fluid" style="padding: 5px 0 5px 0;">
      <div class="text-center">
        <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
      </div>
    </div>
  </footer>
  <!-- [END] Footer Container -->
</div>
