<app-navbar></app-navbar>

<!-- [BEGIN] Entire Page Container -->
<div class="container-fluid background" style="padding: 0;">
  <!-- [BEGIN] Content Container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong><h2> <i class="fa fa-graduation-cap"></i>PUBLICATIONS <span class="text-primary"></span></h2></strong>
      </div>
    </div>
    <hr>
    <!-- [BEGIN] Web Applications Section -->
    <div class="row">
      <p><strong>2020</strong></p>
      <p>Dominic, J., <strong>Tubre, B.</strong>, Houser, J., Ritter, C., Kunkel, D., Rodeghero, P. "Program Comprehension in Virtual Reality", in Proc. of the International Conference on Program Comprehension (<a href="https://conf.researchr.org/home/icpc-2020">ICPC'20 ERA</a>), Seoul, Korea, May 23-24, 2020.</p>
    </div>
    <div class="col" style="padding-top: 50%">

    </div>


    <!-- [END] Web Applications Section -->
    <!-- [BEGIN] row -->
    <app-footer></app-footer>
    <!-- [END] Footer content row -->
  </div>
  <!-- [END] Content Container -->

  <!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
