<app-navbar></app-navbar>
<!-- Content for the main page -->
<div class="container-fluid background" style="padding: 0;" >
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <strong><h2> <i class="fas fa-mouse"></i>OSS CODING <span class="text-primary"></span></h2></strong>
      </div>
    </div>
    <hr>
    <div *ngIf="loadingComments"  class="container text-center" style="min-height: 700px;">
      <i class="fas fa-circle-notch fa-spin" style="font-size:50px"></i>
    </div>
    <div *ngIf="!loadingComments"  class="container text-center" style="min-height: 700px;">
      <div class="form-group col-md-5 col-md-offset-2">
        <h3>Enter Starting and Ending Comment Numbers</h3>
        <p>These number have been assigned specifically to you.</p>
        <h5 class="text-danger" *ngIf="inputSubmitMessage"><strong>{{inputSubmitMessage}}</strong></h5>
        <input autofocus class="form-control" type="text" value="" placeholder="Starting Comment Number" #startingComment />
        <br/>
        <input autofocus class="form-control" type="text" value="" placeholder="Ending Comment Number" #endingComment />
        <button class="btn btn-primary form-control" style="margin-top: 15px;" (click)="startCoding()"> Start Coding </button>
      </div>
    </div>
  </div>


<!-- [BEGIN] Footer Container -->
<footer class="navbar-default sticky-footer" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>

