.circles > i {
  font-size: 25px;
  padding: 5px;
}

.circles:hover {
  cursor: pointer;
}

.coded {
  color: #3399f3
}

.coded {
  color: #3399f3
}

.circles > .fa {
  font-family: inherit;
}

.circle-icon {
  font-size: 25px;
  display: block;
  font-family: 'Source Sans Pro', Calibri, Candara, Arial, sans-serif;
}

